body {
  /*전체페이지*/
  background: tomato;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.father {
  /*메인 박스*/
  width: 200px;
  height: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background: wheat;
  border: 2px solid black;
}

.inside {
  /*정사각형 박스 두개, 위/아래 */
  background: teal;
  height: 50px;
  width: 50px;
  border: 3px solid white;
}

.inside-second {
  /*가운데 점선테두리 직사각형*/
  width: 100%; /* padding 20px때문에 100%해도 안쪽에 고정 */
  border-style: dashed;
}
